<Section id="footer">
    <img src="/media/border2.png" alt="" id="border-img">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/media/logo.png"  alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptatem accusamus, quae excepturi cumque voluptate ut pariatur similique vel ex veniam porro, consequatur, officiis reiciendis deleniti vitae qui eaque eveniet assumenda veritatis at. Maiores consequatur at fugit vero cupiditate dolore eum. Minima fuga eaque beatae! Dolorem dignissimos ipsa odit totam!</p>
        </div>
        <div class="col-md-4">
            <h2>Indigo Pvt.Ltd</h2>
            <table>
                <tr>
                    <td><span><i class="bi bi-building"></i></span></td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus perspiciatis officia inventore maxime qui illo, hic id ex animi corrupti aliquid nesciunt, molestiae nihil, iusto error dolore!</td>
                </tr>
                <tr>
                    <td><span><i class="bi bi-telephone-fill"></i></span></td>
                    <td><p>141-36546547</p></td>
                </tr>
                <tr>
                    <td><span><i class="bi bi-phone"></i></span></td>
                    <td><p>563464636</p></td>
                </tr>
                <tr>
                    <td><span><i class="bi bi-envelope"></i></span></td>
                    <td><p>ravi@gmail.com</p></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <H2>Query Form</H2>
            <form action="" method="post">
            <input type="email" name="email" id="" placeholder="Enter Email" class="form-control form-control-lg ">  
            <textarea name="query" id="" placeholder="Enter Query" class=" form-control form-control-lg mt-2 mb-2"></textarea>  
            <button type="submit" class="btn btn-success form-control form-control-lg" >Post query</button>
            </form>
        </div>
    </div>
</div>



</Section>